<footer id="footer" class="mt-4">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <span>HomingPigeon &copy; Copyright 2019-<%= Time.now.year %> <%= link_to('Ali Fadel', 'https://fb.com/AliOsm97', target: :_blank) %> All Rights Reserved</span>
        <br>
        <span class="text-muted">Logo made by <a href="https://www.freepik.com/">Freepik</a> from <a href="www.flaticon.com">www.flaticon.com</a></span>
      </div>
    </div>
  </div>
</footer>
